# ========================================
# data files
# ========================================
*.txt
*.txt.backup
*.csv
*.json
*.jsonl
*.parquet
*.arrow
*.feather
*.h5
*.hdf5
*.pkl
*.pickle

# ========================================
# model files
# ========================================
*.bin
*.pt
*.pth
*.ckpt
*.safetensors
*.onnx
*.pb
*.tflite
*.h5
*.keras

.venv/



*.pyc

*.log

*.DS_Store